#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}

.form-group{
    height: 20%;
    padding: 5%;
    border: 2px solid #FECC00;
    border-radius: 20px;
}
.text-label{
    color: #FECC00;
}

#login-form{
    padding: 0 30%;
    text-align: center;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}

.nl-reg{
    color:#FECC00;
    text-decoration: none;
}

.nl-reg:hover{
    color: chocolate;
    text-decoration: none;
}

.checkbox{
    margin-top: 10px;
    margin-left: 8px;
}

.sbm:hover{
    background-color: white;
    color: #FECC00;
    border: 1px solid #FECC00;;
}